body {
    background-color: #384790;
}

#title {
    margin: 0 auto;
    color: burlywood;
}

#main_div {
    text-align: center;
    position: relative;
    width: 1300px;
    height: 900px;
    margin-left: 20px;
}

#div_one {
    position: absolute;
    margin-left: 20px;
    margin-top: 100px;
}

#div_two {
    margin-top: 160px;
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
}
#div_three {
    position: absolute;
    margin-top: 160px;
    margin-left: 460px;
}

#div_four {
    position: absolute;
    margin-top: 120px;
    margin-left:800px;
}

#div_five {
    position: absolute;
    margin-top: 80px;
    margin-left:800px;
}

button:focus {
    outline: none;
}

.textbox:focus{
    outline: none;
}

p {
    font-family: 'Roboto mono';
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.textbox {
    height: 30px;
    width: 180px;
    border: 1px solid burlywood;
    border-radius: 5px;
    font-size: 20px;
    
}

.btn {
    height: 30px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
}
button:active{
    margin-top:2px;
}

font {
    font-size: 14px;
    font-family:'Alfa Slab One';
}